# =========================
# Node / React
# =========================
node_modules/
dist/
build/

# =========================
# Environment Variables
# =========================
.env
.env.*
backend/.env
frontend/.env

# =========================
# Python
# =========================
venv/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Local Data
# =========================
backend/data/
*.sqlite
*.db
# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# Logs
# =========================
*.log

# =========================
# Docker
# =========================
postgres_data/